@import "tailwindcss";

@theme {
    --color-tide-green: #00FF00;
    --font-sans: Inter, sans-serif;
}

:root {
    --background: #000000;
    --foreground: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}