@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

@theme {
    --color-tide-green: #00FF00;
    --font-sans: Inter, sans-serif;
}

:root {
    --background: #000000;
    --foreground: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}